[DEFAULT]
verbose = True
debug = True

[db]
connection_url = postgresql://{{ GC_PG_USER }}:{{ GC_PG_PASS }}@{{ GC_PG_ENDPOINTS }}:5432/{{ GC_PG_DB }}
connection_pool_max_size = 4

[agent]
uuid5_name = core_agent
payload_path = /var/lib/exordos/exordos_s3/core_agent/payload.json
target_fields_path = /var/lib/exordos/exordos_s3/core_agent/target_fields.json
orch_client = http
orch_endpoint = http://core.local.genesis-core.tech:11011
status_endpoint = http://core.local.genesis-core.tech:11012

[models]
em_s3aas_types_s3_versions = exordos_s3.user_api.dm.models:S3Version
em_s3aas_types_s3_instances = exordos_s3.infra.dm.models:S3Instance
em_s3aas_types_s3_instances_buckets = exordos_s3.user_api.dm.models:S3Bucket
em_s3aas_types_s3_instances_policies = exordos_s3.user_api.dm.models:S3Policy
em_s3aas_types_s3_instances_users = exordos_s3.user_api.dm.models:S3User
em_s3aas_types_s3_instances_users_access_keys = exordos_s3.user_api.dm.models:S3AccessKey
em_s3aas_types_s3_instances_users_policies = exordos_s3.user_api.dm.models:S3UserPolicyAttachment

[filters]
em_s3aas_types_s3_versions = description:12345678-c625-4fee-81d5-f691897b8142
em_s3aas_types_s3_instances = project_id:12345678-c625-4fee-81d5-f691897b8142
em_s3aas_types_s3_instances_buckets = project_id:12345678-c625-4fee-81d5-f691897b8142
em_s3aas_types_s3_instances_policies = project_id:12345678-c625-4fee-81d5-f691897b8142
em_s3aas_types_s3_instances_users = project_id:12345678-c625-4fee-81d5-f691897b8142
em_s3aas_types_s3_instances_users_access_keys = project_id:12345678-c625-4fee-81d5-f691897b8142
em_s3aas_types_s3_instances_users_policies = project_id:12345678-c625-4fee-81d5-f691897b8142
