[Unit]
Description=Exordos S3 Agent
After=network-online.target

[Service]
TimeoutStopSec=5
Restart=on-failure
RestartSec=5s
KillSignal=SIGINT
ExecStartPre=/bin/sleep 2
ExecStart=exordos-s3-agent --config-file /etc/exordos_s3/exordos_s3_agent.conf

[Install]
WantedBy=multi-user.target
