[Unit]
Description=Genesis S3 General Service
After=network-online.target

[Service]
TimeoutStopSec=5
Restart=on-failure
RestartSec=5s
KillSignal=SIGINT
ExecStart=genesis-s3-gservice --config-file /etc/genesis_s3/genesis_s3.conf

[Install]
WantedBy=multi-user.target
